@font-face{
	font-family: Eraser;
	src: url('../fonts/EraserRegular.ttf');
}

@font-face{
	font-family: LeviBrush;
	src: url('../fonts/LeviBrush.ttf');
}

@font-face{
	font-family: Andika Basic;
	src: url('../fonts/AndBasR.ttf');
}

body{
	background: #FFDB00;
    font-family: Andika Basic;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #ffffff;
}

header {
    height: 15%;
	width: 100%;
	background: #146EFA;
	position: fixed;
	top: 0px;
	left: 0px;
    text-align: center;
}

h1{
	font-family: Eraser;
	font-size: 50pt;
	display: inline-block;
    margin-top: 1%;
}

h2 {
    font-size: 36pt;
}

h2 .indent-1 {
    margin-left: 8%;
}

.body {
    margin-top: 15%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.construccion {
    margin-top: 6%;
    display: inline-block;
    float: left;
    width: 10%;
}
.construccion:before {
    content: url('../img/noun_project_18796.svg');
}

article {
    display: block;
    float: right;
    width: 85%;
}
